div{
    border: solid;
    align-items: center;
    
    
}
.box0{
        background-color: gainsboro;
        color: maroon;
        text-emphasis: italic;
        text-align: center;
        text-shadow: 1cm;
        text-size-adjust: 30pt;
        width: 75%; 
        margin: 25px;
        padding: 20px;
        align-items: center;


}
.box{
    color: white;
    border:solid 2px gray;
    background-color: maroon;
    width:75%;
    margin: 25px;
    padding: 20px;
    align-items: center;


}
.box2{
    border:solid 2px gray;
    background-color: gainsboro;
    width:75%;
    margin: 25px;
    padding: 20px;
    align-items: center;


}

